<diw class="row">
  <div class="large-8 large-centered column">
    <h2 class="text-center">Guest book</h2>
    <hr>
    <p>
      Application created for practice.
      To create the layout used framework - foundation.
    </p>

    <p>
      <a href="https://github.com/j3ck/guest-book">
        <i class="fi-social-github medium"></i>
        View on GitHub
      </a>
    </p>
  </div>
</diw>
