<div class="panel">
  <div class="review-form">
    <%= render "reviews/form", review: Review.new %>
  </div>
  <center><h2 class="alert button tiny add-review">Add review</h2></center>
</div>
<%= render "reviews/index" %>
