/*
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 *= require_tree .
*/

@import 'foundation-icons';
@import 'foundation_and_overrides';

.add-review:hover {
  box-shadow: 0 0 20px LightCoral;
}

.review-form {
  display: none;
}

.medium {
  font-size: 35px;
}
