<div class="row">
  <div class="large-8 large-centered column">
    <% @reviews.each do |review| %>
      <h3><%= review.name %></h3>
      <h3><small><%= review.content %></small></h3>
      <h4><small><%= review.created_at %></small></h4>
      <hr>
    <% end %>
  </div>
</div>
