<% if user_signed_in? && current_user.admin? %>
  <section class="top-bar-section">
    <ul class='left'>
      <li>
        <%= link_to 'Admin Panel', admin_dashboard_path %>
      </li>
    </ul>
  </section>
<% end %>
